@charset = "UTF-8";

@font-face {
    font-family: "Ballantines Script";
    src: url('../fonts/Ballantines-Script-webfont.eot');
    src: url('../fonts/Ballantines-Script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ballantines-Script-webfont.woff') format('woff'),
         url('../fonts/Ballantines Script.ttf') format('truetype'),
         url('../fonts-Ballantines-Script-webfont.svg#BallantinesScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Candarab";
    src: url('../fonts/Candarab-webfont.eot');
    src: url('../fonts/Candarab-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Candarab-webfont.woff') format('woff'),
         url('../fonts/Candarab.ttf') format('truetype'),
         url('../fonts-Candarab-webfont.svg#Candarab') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "ebrimabd";
    src: url('../fonts/ebrimabd-webfont.eot');
    src: url('../fonts/ebrimabd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrimabd-webfont.woff') format('woff'),
         url('../fonts/ebrimabd.ttf') format('truetype'),
         url('../fonts-ebrimabd-webfont.svg#Ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}


a:link, a:visited, a:active {
 	text-decoration:none;
 	color: #fff ;	
}

body{
	width: 100%;
	font-family: "Candarab", "ebrima", sans-serif;
	margin: 0 auto;
	font-size: 18px;
	color:black;
}

header {
	width: 1166px;
	margin: 0 auto;
	position: relative;
}

h2 {
	font-family: "ebrima", "Candarab", sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #fff;
}


a {
	text-decoration: none;
	font-size: 22px;
}

.hidden {
	display: none;
}

.active {
	font-family: "Ballantines Script";
	font-size:26px;
	font-weight: bold;
	border-bottom: solid 2px #fff;

}

.container {
	width: 1166px;
	margin: 0 auto;
}

/*Header Background */

.topBar {
	background-color: #da291c;
	width: 100%;
	height: 10px;
}

.heroImg {
	background-image: url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 100%;
	height: 490px;
	margin: 0 auto;
}

/* Header Start */ 

.navCon {
	margin-top: -460px;
	width: 1166px;
	position: absolute;
}

.navFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}
.logo {
	margin-top: -20px;
	width: 300px;
	height: 200px;
}

.mainNav {
	background-color:#da291c ;
	width:600px;
	height:80px ;
	line-height: 80px;
	border-radius: 10px;
	text-align: center;
}

.mainNav ul {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.mainNav ul li a {
	color: #fff ;
	padding: 0 20px;
	border-right:solid 1px #fff;
	border-left: solid 1px #fff;
}

.mainNav ul li a:hover {
	border-bottom: solid 4px #fff;
	transition: border 0.2s ease-in-out;
}



/* Bottom Section */

.titleCon {
	bottom:-40px;
	width: 1166px;
	position: absolute;
}

.title {
	background-color: #da291c;
	width: 368px;
	height: 80px ;
	line-height: 80px ;
	text-align: center;
	border-radius: 10px;
}

/* Header End */


/*  Start of Content  */

.promoCon {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.promoImg {
	background-image: url(../images/promo1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 767px;
	height: 368px;
	text-align: center;
}


.promoText {
	background-color: #29ABE2;
	width: 368px;
	height: 368px;
	text-align: center;
}

.contentCon {
	margin: 40px 0; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.beerLink {background-image: url(../images/beer.jpg);}
.aboutLink {background-image: url(../images/beach.jpg);}
.contactLink {background-image: url(../images/brewery.jpg);}


.content {	
	width: 368px;
	height: 240px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom 0 right 0; 

	font-family: "ebrima", "Candarab", sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5)
}


.promoLink {
	background-image: url(../images/poster2.jpg);
	width: 368px;
	height: 368px;
}



/* +++++++   ANIMATION   ++++++++  */

.content:hover {
	text-shadow: 2px 2px 5px rgba(0,0,0,.5);
	background-position: top 0 right 0;
	transition: background-position 5s linear;
}



/*  Start Footer  */

.footerCon {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footerNav {
	background-color:#da291c ;
	width:583px;
	height:80px ;
	line-height: 80px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;	 
}


.footerNav ul {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.footerNav ul li a {
	color: #fff;
	padding: 2px 20px;
	border-right:solid 1px #fff;
	border-left: solid 1px #fff;
}

.footerNav ul li a:hover {
	border-bottom: solid 4px #fff;
	transition: border 0.2s ease-in-out;
}

.footerRight {
	display: flex;	
	flex-direction: column;
	justify-content: space-between;

}

.social {
	width: 368px;
	height: 60px;
	text-align: right;
	display: flex;	
	flex-direction: row;
	justify-content: flex-end;
}

.social img {
	width: 40px;
	margin:20px 5px 5px 5px; 
}

.copyright {
	margin-top: 5px;
	width: 100%;
	height: 40px;  

}

.copyright h2 {
	color: black;
	font-size: 14px;
	text-align: right;	
}


/* Promo Page */

.video {
	margin-top: 80px;
	width: 100%;
	height: 600px;
	line-height: 600px ;
	text-align: center;

	background-image: url(../images/promoBG.jpg);
	background-size: cover;
	background-position: top-right;

	overflow: hidden;
	position: relative;
}

.video img {
	margin-top: 170px;
}

/* +++++++   ANIMATION   ++++++++  */

@keyframes slide {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -378px;
	}
	45% {
		left: -378px;
	}
	50% {
		left: -767px;
	}
	70% {
		left:-767px;
	}
	75% {
		left: -1146px;
	}
	95% {
		left: -1146px;
	}
	100% {
		left: -1488px;
	}
}



.slideCon {
	width: 234%;
	margin-left: -30px;
	position: absolute;
	right:0;
	animation: slide 10s infinite;	
}


/* +++++++   ANIMATION   ++++++++  */


.promoContentCon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.promoContent {
	margin: 40px 0;
	background-color: #29ABE2;
	width: 568px;
	height: 400px;
	line-height: 400px;
	text-align: center;	
}


/* Product Page */

.productCon {
	margin-top: 80px;
	height: 1760px; 
}

.product { background-color: #f8f8f8;
	margin: 40px 0;
	width: 100%;
	height:400px;
	position: relative;
}



/* Transition animation */

.beer {
	position: absolute;	
	left:388px;
	transition: left 500ms ease-in-out;
}

.beer img {width: 100%}


.product:hover .beer{
	left: 620px;
}

.label {
	position: absolute;
	width:368px;
	left:388px;
	
	transition-property: width, left;
	transition-duration:500ms;
	transition-timing-function: ease-in-out; 
}

.label img { width: 100%; }


.product:hover .label{
	left:318px;
	width: 150px;
}

.product p {
	text-align: center;
	font-family: "ebrima", "Candarab", sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}

.productDesc {
	width: 368px;
	padding: 10px;

	position: absolute;
	left:388px;
	top: 80px;
	
	background-color: #da291c;
	border-radius: 10px;

	opacity: 0;
	transition: opacity 500ms ease-in-out;
}

.product:hover .productDesc{
	opacity: 1;
}

/* +++++++   ANIMATION   ++++++++  */






/* Contact Page */

.contactCon {
	margin-top: 80px; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.address {
	width: 368px;
	height: 500px;
	background-color: #f8f8f8;
	font-family: "ebrimabd", arial, sans-serif;
	font-size: 42px;
	line-height: 80px;
	padding: 5px;

}

.address p {
	font-family: "ebrima", arial, sans-serif;
	font-size: 30px;
	line-height: 60px;	
}

#map {
	width: 768px;
	height: 500px;
	background-image: url(../images/map.jpg);
	background-size: cover;
	background-position: center;
}

.inquiryCon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.inquiryType {
	width: 368px;
	height: 80px;
	border-radius: 10px;
	margin-top: 40px;

	text-align: center;
	line-height: 80px;	

	background-color: #da291c;

	font-family: "ebrima", "Candarab", sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}

form {
	margin: 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

input {
	background-color: #f8f8f8;
	padding: 10px;
	line-height: 40px;
	font-size: 30px;
	border-radius: 8px;
}

textarea {
	background-color: #f8f8f8;
	padding: 10px;
	line-height: 40px;
	font-size: 30px;
	border-radius: 8px;
	font-family: "ebrima", "Candarab", sans-serif; 
}


.formLeft {
	width: 563px;
	height: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

.name{
	width: 250px;
}
.info {
	width: 563px;
}


.formRight {
	width: 563px;
	height: 250px;
}

.submitCon{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.submit {
	width: 368px;
	height: 80px;
	border-radius: 10px;
	margin-bottom: 40px;

	background-color: #da291c;

	text-align: center;
	line-height: 80px;
	font-family: "ebrima", "Candarab", sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #fff;;
}

